[mysqld]
#------------------------------------------------------------------------------
# RECURSOS CRITICOS DE INNODB
#------------------------------------------------------------------------------

# innodb_buffer_pool_size: El parametro mas critico para el rendimiento.
# innodb_buffer_pool_size = 4G

# innodb_log_file_size: Tamano de los archivos de registro. Un valor grande
# mejora el rendimiento de escritura al reducir la frecuencia de los checkpoints.
# eliminar los logs antes de iniciar el servicio [sudo rm /var/lib/mysql/ib_logfile*]
# innodb_log_file_size = 2G
# innodb_log_files_in_group: Numero de archivos de log.
# innodb_log_files_in_group = 2

# innodb_flush_log_at_trx_commit: 1 para la maxima durabilidad de datos.
# innodb_flush_log_at_trx_commit = 1

#------------------------------------------------------------------------------
# CONEXIONES Y CONCURRENCIA
#------------------------------------------------------------------------------

# max_connections: Numero maximo de conexiones concurrentes.
# max_connections = 2000

# thread_cache_size: Numero de hilos que se mantienen en cache para nuevas conexiones.
# thread_cache_size = 512

# table_open_cache: Cantidad de tablas que el servidor puede mantener abiertas.
# table_open_cache = 8000

# tmp_table_size y max_heap_table_size: Tamano de las tablas temporales en memoria.
# tmp_table_size = 512M
# max_heap_table_size = 512M

#------------------------------------------------------------------------------
# OTRAS CONFIGURACIONES
#------------------------------------------------------------------------------

# slow_query_log = 1
# slow_query_log_file = /var/log/mysql/slow.log
# long_query_time = 1

#------------------------------------------------------------------------------
# SOLO PARA DOCKER
#------------------------------------------------------------------------------

# Configura MySQL para que el charset sea UTF-8.
# character-set-server = utf8mb4
# collation-server = utf8mb4_unicode_ci

# Configura el log de errores.
# log_error = /var/log/mysql/error.log
